# videoscreen systemd user service

[Unit]
Description=Videoscreen mpv server
After=network-online.target display-manager.service

[Service]
ExecStart=/usr/bin/python3 -m videoscreen -- --fs --quiet
Restart=on-failure

[Install]
WantedBy=default.target
